.App {
    background-color: #E3E3E3;
}

.container {
    background-color: white;
    min-height: 100vh;
}

.similar-tracklist {
    max-height: 500px;
    overflow-y: scroll;
}

.error {
    color: red;
}

.inline {
    display: inline;
}

.text {
    width: 174px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.form-control {
    display: inline !important;
    width: 200px !important;
}

.custom_link {
    color: white;
    text-decoration: none !important;
    text-underline: none !important;
}

.custom_link:hover {
    color: white;
    text-decoration: none !important;
    text-underline: none !important;
}

.spinner {
    margin-left: 50%;
    margin-top: 150px;
}

.cover {
    min-width: 174px;
    min-height: 174px;
}

.auth-loading {
    position: fixed;
    top: 30%;
    left: 50%;
}